[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
flask-bootstrap = "*"
pandas = "*"
gunicorn = "*"

[dev-packages]
jupyter = "*"

[requires]
python_version = "3.9"
