{% extends "base.html" %}

{% block content %}

        {% for collection in collections %}
            <h3>{{ collection|title }} Collection | Complete List</h3>
            {% for book in books %}
              <p>{% if book.author %}{{ book.author}} {% endif %}{{ book.title }} {{book.imprint}} <a href="{{ 'http://bobcat.library.nyu.edu/primo-explore/fulldisplay?docid=nyu_aleph%s&context=L&vid=NYU&&search_scope=all&tab=all&lang=en_US' % book.bsn }}"" target="_blank">link</a></p>
            {% endfor %}
            <div style="padding-top: 10px;">
            <p> There are {{books|length}} titles in the
              <a href="{{ url_for('book_collections', collection=collection)}}">
                {{ collection|title }}
              </a>  Collection.
            </div>
          </div>
        {% endfor %}

{% endblock %}
