{% extends "base.html" %}

{% block content %}

        {% for collection in collections %}
          <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Filter list..">

            <h3>{{ collection|title }} Collection | Complete List</h3>


            <ul id="myUL">
            {% for book in books %}
              <li>{% if book.author %}{{ book.author}} {% endif %}{{ book.title }} {{book.imprint}} <a href="{{ 'http://bobcat.library.nyu.edu/primo-explore/fulldisplay?docid=nyu_aleph%s&context=L&vid=NYU&&search_scope=all&tab=all&lang=en_US' % book.bsn }}"" target="_blank">link</a></li>
            {% endfor %}
            </ul>
            <div style="padding-top: 10px;">
            <p id='total'> There are {{books|length}} titles in the
              <a href="{{ url_for('book_collections', collection=collection)}}">
                {{ collection|title }}
              </a>  Collection.
            </div>
          </div>

          <script>
          function myFunction() {
            // Declare variables

            var orig_count = document.getElementById("total").innerHTML

            var input, filter, ul, li, a, i, txtValue;
            input = document.getElementById('myInput');

            if (input.value.length == 0)
                document.getElementById("total").innerHTML = orig_count;

            filter = input.value.toUpperCase();
            ul = document.getElementById("myUL");
            li = ul.getElementsByTagName('li');


            for (i=0; i < li.length; i++) {
              txtValue = li[i].textContent;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                  li[i].style.display = "";
                } else {
                  li[i].style.display = "none";
                }
            }

          // items = document.getElementsByTagName("li").length;
          // console.log(items);

          var elem = document.querySelectorAll('li');
          var visible = [];
          for (i = 0; i < elem.length; i++) {
            _this = elem[i];
            if (_this.style.display !== "none")
              visible.push(elem[i]);
          }

          document.getElementById("total").innerHTML = "There are "+ visible.length + " matches in this filtered collection.";

          }
          </script>

        {% endfor %}

{% endblock %}
