{% extends "base.html" %}

{% block content %}
  {% for collection in collections %}
    <p style="text-align: center; padding: 10px; display: inline-block;">
      <a href="#">
        <img src="{{ url_for('static', filename=collection.image)}}" height="250" style="display: block; margin-left: auto; margin-right: auto;">
      </a>
      <br>
      <a href="{{ url_for('book_collections', collection=collection.name)}}">
        {{ collection.name }}
      </a>
    </p>
  {% endfor %}

  <div id="footer">
    Written 2018-2019 by <a href="http://github.com/diyclassics" target="_blank">Patrick J. Burns</a> for the <a href="http://isaw.nyu.edu/library" target="_blank">ISAW Library</a>.
  </div>

{% endblock %}
